
<center>
<div class="card bg-light mb-3" style="max-width: 26rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <fieldset>
        <div class="form-group">
          <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: "Firstname"%>
        </div><br>

        <div class="form-group">
          <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: "Lastname"%>
        </div><br>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email"%>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Choose Password" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Re-type Password" %>
        </div><br>

        <div class="form-group">
          <%= f.text_field :mobile_no, autocomplete: "off", class: 'form-control', placeholder: "Mobile" %>
        </div><br>

        <div class="form-group">
          <select class="form-control" id="exampleSelect1">
            <option class=" form-text text-muted">Please select your city</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary btn_large">Log in</button>
      </fieldset>
    <%end%>
    <%= render "devise/shared/forgot_password_link" %>
  </div>
</div>
</center>