<div style="padding-top: : 10px;padding-left: 333px;" >
  <div class="card bg-light mb-3" style="max-width: 40rem;">
    <div class="card-header"><center><strong><%= @restaurant.name.capitalize %></strong></center></div>
      <div class="card-body">
        <%= form_for (@restaurant),:url =>"#" ,:html => { :multipart => true } do |f| %>
          <div class="field">
            <strong>Description:</strong>
            <%= f.text_area :description,:placeholder => "Description",:class=>"form-control",:disabled => "disabled" %>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="field">
                <strong>Operator:</strong>
                <%= f.text_field :operator,:class=>"form-control" ,:placeholder => "Operator",:disabled => "disabled"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="field">
                <strong>Contact Number:</strong>
                <%= f.text_field :contact_number,:class=>"form-control" ,:placeholder => "Contact Number",:disabled => "disabled"%>
              </div>
            </div>
          </div>
          <br>
          <div class="field">
            <strong>Address:</strong>
            <%= f.fields_for @restaurant.addresses.first do |a|  %>
              <%= a.text_area :address_line,:class=>"form-control",:disabled => "disabled"  %>
            <% end %>
          </div>
          <br>
          <div class="field">
            <strong>Timings: </strong><%=@restaurant.opening_time %>-<%=@restaurant.closing_time %>
          </div>
          <br>
          <% if @restaurant.associated_blogs.present? %>
            <div class="field">
              <% blogs = @restaurant.associated_blogs.split(',') %>
              <% blogs.each do |i| %>
                <% b = Blog.where("id =?",i.to_i).first %>
                  <% b.pictures.each do |p| %>
                    <img src = "<%= p.avatar %>" style="height: 100px;width: 100px;" class = "pic_show"  data-id = "<%= p.id %>" data-toggle="modal" data-target= "#myModal" data-remote = "true">
                  <% end %>
              <% end %>
              <br>
            </div>
          <% end %>
          <br>
          <center>
            
          <div id="geolocation" style="width: 300px; height: 300px;"></div>
          </center>
          <br>
        <% end %>
        <br>
      </div>
    </div>
  </div>


<div id="myModal" class="modal" role="document" >
  <div class="modal-dialog">
    <div class="modal-content" style="width: 500px;height: 500px;">
      <div class="modal-body">
        <img src="" id = "modal-pic" style="width: 466px;height: auto;">
        <hr>
          <img src="/assets/pic_like.png" style="width: 20px;height: auto;cursor: pointer;" id="pic_like">
        <div class="comment">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  var geocoder = new google.maps.Geocoder();
  var add = $("#restaurant_address_address_line").val().replace(/"/g,"")
  geocoder.geocode( { 'address': add}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) 
    {
      var latitude = results[0].geometry.location.lat();
      var longitude = results[0].geometry.location.lng();  
      var map;
      function initialize() 
      {
        var myLatlng = new google.maps.LatLng(latitude, longitude);
        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("geolocation"), myOptions);
        var marker = new google.maps.Marker({
            draggable: false,
            position: myLatlng,
            map: map
        });
        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("latitude").value = event.latLng.lat();
            document.getElementById("longitude").value = event.latLng.lng();
        });
      }
      google.maps.event.addDomListener(window, "load", initialize());
    }
  }); 

  $(".pic_show").on("click",function(){
    var id = $(this).data('id');
    $.ajax({ 
      async: true,
      type: 'GET',
      url: "/restaurant/pic/show/"+id,
      success: function(data)
      {
        //alert(data.id);
        $("#modal-pic").attr("src",data.pic);
        $("#modal-pic").attr("data-id",data.id);  
        $("#pic_like").attr("id",data.id);
      }, 
      error: function(data){ alert('error'); } 
    })
  });
  $("#pic_like").on("click",function()
  {

    <% if user_signed_in? %>
      var pic_id = $("#pic_like").attr("id");
      $.ajax({ 
      async: true,
      type: 'GET',
      url: "/like/pic_like/"+pic_id,
      success: function(data)
      {
        // alert(data.is_liked);
         if(data.is_liked == true)
        {
          //alert(data.is_liked);
          $("#"+data.pic_id).attr("src","/assets/pic_unlike.png");
        }
         else
        {
          //alert(data.is_liked);
          $("#"+data.pic_id).attr("src","/assets/pic_like.png");
        }
      }, 
      error: function(data){ alert('error'); } 
    })

    <% else %>
      alert("please sign in to like the picture");
    <% end %>
  });

</script>
<style type="text/css">
.modal-backdrop {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0.5;
  height:100%; 
  position: fixed;
  }

</style>