<table id="example" class="table table-hover display responsive no-wrap">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Operator</th>
      <th scope="col">Timings</th>
      <th scope="col">Closed On</th>
      <th scope="col">Address</th>
      <th scope="col">Associated Blogs</th>
    </tr>
  </thead>
  <tbody>
      <% Restaurant.all.where("is_blacklisted =?",true).each do |r| %>
        <tr>
          <td onclick="show(<%=r.id%>);" style="cursor: pointer;"><%= r.name %></td>
          <td><%= r.contact_number %></td>
          <td><%= r.operator %></td>
          <td><%= r.opening_time %>-<%= r.closing_time %></td>
          <td><%= r.closed_on %></td>
          <td><%= r.addresses.first.address_line %></td>
          <td><%= r.associated_blogs %></td>
        </tr>
      <%end%>
  </tbody>
</table> 
<style type="text/css">
    #example_wrapper .row:first-child{
    margin-bottom: 24px;
  }
</style>
<script>
  $(document).ready(function(){
    $("#example").DataTable({
    });
  });

  function show(id)
  {
    window.location = "/restaurant/show/"+id;
  }
</script>