<table id="example" class="table table-hover display responsive no-wrap">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Current Login</th>
      <th scope="col">Last Login</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
      <%users=User.all%>
      <%users.each do |user|%>
        <tr>
          <td><%=user.firstname%> <%=user.lastname%></td>
          <td><%=user.email%></td>
          <td><%=user.mobile_no%></td>
          <td><%=user.city%></td>
          <td><%=user.state%></td>
          <td><%=user.current_sign_in_at%></td>
          <td><%=user.last_sign_in_at%></td>
          <td>
            <span id="star_header" class="glyphicon glyphicon-star"></span>
          </td>
          <td>
            <span id="star_header" class="glyphicon glyphicon-star"></span>
          </td>
        </tr>
      <%end%>
  </tbody>
</table> 

<script>
  $(document).ready(function(){
  $("#example").DataTable({
  });
});
</script>