<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></link>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<div style="padding: 10px;">
<!--   <div class="row">
    <div class="col-sm-9">
      <div class="btn btn-outline-primary">
        <%= link_to("Send Invitation",new_user_invitation_path) %>
      </div>
      <% if current_user.firstname.present? && current_user.lastname.present? && current_user.mobile_no.present? && current_user.state.present? && current_user.city.present? %>
        <div class="btn btn-outline-primary">
          <%= link_to("Edit profile","/home/#{current_user.id}/edit") %>
        </div>
      <% else %>
        <div class="btn btn-outline-primary">
          <%= link_to("Update profile","/home/#{current_user.id}/edit") %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-1.5">
      <button type="button" class="btn btn-success right-align">Analytics Report</button>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-warning right-align" href="/blog/new">Create a Blog</a>
    </div>
  </div>
</div>
 -->

<script> 
  $(".show_issue").on("click",function(){
    window.open("/support_tickets","_self")
  }) 




  function show_blogs() 
  {
    $("#table_container").html("<%= escape_javascript(render('blog_list')) %>");
  }
  function reviewed_blogs() 
  {
    $("#table_container").html("<%= escape_javascript(render('reviewed_blogs_list')) %>");
  }
  function blocked_blogs() 
  {
    $("#table_container").html("<%= escape_javascript(render('blocked_blogs_list')) %>");
  }

  function show_users() 
  {
    $("#table_container").html("<%= escape_javascript(render('user_list')) %>");
  }

  function blocked_users() 
  {
    $("#table_container").html("<%= escape_javascript(render('blocked_users_list')) %>");
  }

  function blacklisted_restaurants() 
  {
    $("#table_container").html("<%= escape_javascript(render('blacklisted_restaurants')) %>");
  }

  function deactive_restaurants() 
  {
    $("#table_container").html("<%= escape_javascript(render('deactive_restaurants')) %>");
  }









  function show_restaurants() 
  {
    $("#table_container").html("<%= escape_javascript(render('restaurant_list')) %>");
  }

  $(".menu_item").click(function(){
    $(".menu_item").removeClass("active");
    $(this).addClass("active");
  });

  $(document).ready(function(){
    $(".onactive").addClass("active");
    $(".onactive").trigger("click");
    $("#users_dropdown").hide();
    $("#blogs_dropdown").hide();
    $("#restaurants_dropdown").hide();
  });



  function users_dropdown()
  {
    $("#users_dropdown").slideToggle();
  }

  $("#show_submenu").on("click",function()
  {
    $("#blogs_dropdown").slideToggle();
  })

  function restaurants_dropdown()
  {
    $("#restaurants_dropdown").slideToggle();
  }




  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<style>
  .size-mid
  {
    width: 66px;
  }

</style>                                                      