.home_page  
  .banner_sec
    .banner_text
      %h1
        FRONTIER
      / %img{:src => "/assets/logo.png", :alt => "Image"}
      %p
        I’m a paragraph. Double click here or click Edit Text to add some text of your own or to change the font. Tell your visitors a bit about your services.
      %a{href:"javascript:void(0)", :class => "know_more"} Know More
  .feast_smartly_container
    .col-md-6.col-sm-12.col-xs-12
      .feast_smartly_wrapper
    .col-md-6.col-sm-12.col-xs-12
      .feast_smartly_txt_area
        %h3.blk_txt FEAST
        %h3.wht_txt SMARTLY
        %p 
          I’m a paragraph. Double click here or click Edit Text to add some text of your own or to change the font. Tell your visitors a bit about your services.
        %div
          %a{href:"javascript:void(0)", :class => "find_now"} FIND NOW
    .clearfix
  .blogs_container  
    .blog_cntr
      .blog_wrapper
        .col-md-8.col-sm-12.col-xs-12  
          .blog_image
            %img{:src => "/assets/img_left.jpg", :alt => "Image"}
          .blog_desc_container
            %div
              .blog_by_pf
                %span
                  A
              .blog_by_name  
                %a{href:"#"}
                  Abhradip Ghosh
                %p.blog_creator
                  21 hours ago . 2 min
            %a.blog_heading{:hef => "javascript:void(0)"}
              Baltimore Jazz Festival 2017
            %p.blog_desc
              Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Design with Ease “Do...
            .blog_footer_sec
              .fl  
                %p.view_count 
                  0 views
                %a{:href => "#", :class => "write_comment"} Write Comment
              .fr
                %a.glyphicon.glyphicon-heart-empty.like_btn{href:"#"}
              .cb


        .col-md-4.col-sm-12.col-xs-12 
          %a{href:"javascript:void(0)", :class => "write_blog_btn large_btn"} WRITE BLOG
          %a{href:"javascript:void(0)", :class => "about_us_btn large_btn"} ABOUT US

          .design_bar_1.animated.fadeInLeft
          .subscribe_form
            %p 
              Join Our 
              %br
              Mailing List
            %div
              = email_field_tag :email, "",:placeholder => "Email Address"
              %input{ :type => 'button', :value => "SUBSCRIBE"} 
        .clearfix 
    .blog_cntr
      .blog_wrapper
        .col-md-8.col-sm-12.col-xs-12  
          .blog_image
            %img{:src => "/assets/img_left.jpg", :alt => "Image"}
          .blog_desc_container
            %div
              .blog_by_pf
                %span
                  A
              .blog_by_name  
                %a{href:"#"}
                  Abhradip Ghosh
                %p.blog_creator
                  21 hours ago . 2 min
            %a.blog_heading{:hef => "javascript:void(0)"}
              Baltimore Jazz Festival 2017
            %p.blog_desc
              Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Design with Ease “Do...
            .blog_footer_sec
              .fl  
                %p.view_count 
                  0 views
                %a{:href => "#", :class => "write_comment"} Write Comment
              .fr
                %a.glyphicon.glyphicon-heart-empty.like_btn{href:"#"}
              .cb


        .col-md-4.col-sm-12.col-xs-12 
        .clearfix 
    .blog_cntr
      .blog_wrapper
        .col-md-8.col-sm-12.col-xs-12  
          .blog_image
            %img{:src => "/assets/img_left.jpg", :alt => "Image"}
          .blog_desc_container
            %div
              .blog_by_pf
                %span
                  A
              .blog_by_name  
                %a{href:"#"}
                  Abhradip Ghosh
                %p.blog_creator
                  21 hours ago . 2 min
            %a.blog_heading{:hef => "javascript:void(0)"}
              Baltimore Jazz Festival 2017
            %p.blog_desc
              Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Design with Ease “Do...
            .blog_footer_sec
              .fl  
                %p.view_count 
                  0 views
                %a{:href => "#", :class => "write_comment"} Write Comment
              .fr
                %a.glyphicon.glyphicon-heart-empty.like_btn{href:"#"}
              .cb


        .col-md-4.col-sm-12.col-xs-12 
        .clearfix 
    .blog_cntr
      .blog_wrapper
        .col-md-8.col-sm-12.col-xs-12  
          .blog_image
            %img{:src => "/assets/img_left.jpg", :alt => "Image"}
          .blog_desc_container
            %div
              .blog_by_pf
                %span
                  A
              .blog_by_name  
                %a{href:"#"}
                  Abhradip Ghosh
                %p.blog_creator
                  21 hours ago . 2 min
            %a.blog_heading{:hef => "javascript:void(0)"}
              Baltimore Jazz Festival 2017
            %p.blog_desc
              Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Design with Ease “Do...
            .blog_footer_sec
              .fl  
                %p.view_count 
                  0 views
                %a{:href => "#", :class => "write_comment"} Write Comment
              .fr
                %a.glyphicon.glyphicon-heart-empty.like_btn{href:"#"}
              .cb


        .col-md-4.col-sm-12.col-xs-12 
        .clearfix 
    .circle.circle_top
    .circle.circle_bottom.animated.rotateInDownLeft
    .diagonal_line.diagonal_line_one
    .diagonal_line.diagonal_line_two
  .feedback_strip
    %p.feedback_text LOVING IT?
    %a{:href => "#", :class => "send_feedback"} GIVE US A FEEDBACK
  .contact_us_section
    .col-md-6.col-sm-12.col-xs-12.contact_left
      .contact_email_section 
        %div  
          %p Contact us
          %span
        %a{:href => "mailto:support@streetfeast.in"} support@streetfeast.in
    .col-md-6.col-sm-12.col-xs-12.contact_right
      .contact_form_section
        %form{:action => "/"}
          .col-md-6.col-sm-12.col-xs-12 
            = text_field_tag "Name","", :placeholder => "Name *", required: true
            = email_field_tag "Email","", :placeholder => "Email *", required: true
            = text_field_tag "Subject","", :placeholder => "Subject"
          .col-md-6.col-sm-12.col-xs-12
            = text_area_tag "Message","", :placeholder => "Message"
          .contact_us_sbumit_btn  
            =submit_tag :Send
          .cb
    .cb

  .landing_footer
    = link_to image_tag( '/assets/twitter_icon.png'), 'http://www.google.com'
    = link_to image_tag( '/assets/insta_icon.png'), 'http://www.google.com'
    = link_to image_tag( '/assets/fb_icon.png'), 'http://www.google.com'
    %p Copyright © 2011-2018, www.streetfeast.in. All rights reserved.


:javascript
    $(window).scroll(function() {
      var circle_top_top = $('.circle_top').offset().top,
       circle_top_outer_height = $('.circle_top').outerHeight(),
       window_height = $(window).height(),
       window_scroll_top = $(this).scrollTop();

       if (window_scroll_top > (circle_top_top+circle_top_outer_height-window_height)){
         $('.circle_top').addClass("animated");
         $('.circle_top').addClass("rotateInDownRight");
       }

    });

    $(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
      if(scroll >= 4029)
      {
        $('.contact_left').addClass('animated flipInY');
        $('.contact_right').addClass('animated flipInY');
      }
    });