<center>
<div class="card bg-light mb-3" style="max-width: 26rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email"%>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
        </div>

          <div class="form-check disabled">
            <label class="form-check-label">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              Remember me
            </label>
          </div>
        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary btn_large">Log in</button>
      </fieldset>
    <%end%>
    <%= render "devise/shared/forgot_password_link" %>
  </div>
</div>
</center>

<style>
.btn_large
{
  width: 200px;
}
  
</style>
