<%= tinymce%>
<%= form_for (@blog),url: "/blog/update/#{@blog.id}", :html => { :multipart => true },:id =>"editblog",:remote => true,"data-id" => "#{@blog.id}" do |f| %>
  <div class="field">
    <%= f.text_field :title,:class=>"form-control",:placeholder => "Title" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_area :content, :class => "tinymce" %>
  </div>
  <br/>
  <div>
    <% @blog.pictures.each do |p| %>
      <img src="<%= p.avatar %>" style="height: 100px;width: 100px;"> &nbsp;&nbsp;&nbsp;
    <% end %>
  </div>
  <br>
  <div class="actions">
    <button type="submit" class="btn btn-primary btn_large" >Update</button>
  </div>
<% end %>
<script type="text/javascript">
  tinymce.remove();
  tinymce.init({ selector: ".tinymce" })


  $(".edit_blog").on("submit", function(event){ 
    var id = <%= @blog.id %>
    $.ajax({ type: "POST",
     url: this.action,
      data: $(this).serialize(), 
      success: function(response) 
      {
        
        $('.modal-backdrop').remove();
        $('.modal').hide();
        $('.blog_title_'+id).html(response.title);
        $('.blog_content_'+id).html(response.content);
      } 
    }); 
    event.preventDefault(); 
  }); 

</script>









