<!DOCTYPE html>
<html>
<head>
  <title>StreetFeast</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<script src="//maps.google.com/maps/api/js?key=AIzaSyA5LrPhIokuSBO5EgKEcfu859gog6fRF8w"></script>
<script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
	<% if user_signed_in? %>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
	 	<% if current_user.is_admin.nil? %>
			<a class="navbar-brand" href="/home/dashboard_user">NAVBAR</a>
		<% else %>	
			<a class="navbar-brand" href="/home/dashboard">NAVBAR</a>
		<% end %>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
		  	<ul class="navbar-nav mr-auto"></ul>
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
		      </li>
		    </ul>
		  </div>
	  </nav>
	  
	<% else %>
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
		  	<ul class="navbar-nav mr-auto"></ul>
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <%= link_to('Login', new_user_session_path, class: "nav-link")  %>
		      </li>
		      <li class="nav-item">
		        <%= link_to('Register', new_user_registration_path, class: "nav-link")  %>
		      </li>
		    </ul>
		  </div>
	  </nav>
	<% end %>

	<br>

	<% if notice %>
	  <div class="alert alert-dismissible alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Heads up!</strong><%= notice %>
	 </div>
	<% end %>
	<% if alert %>
	  <div class="alert alert-dismissible alert-warning">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Heads up!</strong><%= alert %>
	 </div>
	<% end %>

	<%= yield %>
	<%= tinymce %>
</body>
</html>

